gendtd.dtd

<?xml version="1.0" encoding="UTF-8"?>

<!-- DTD generated by XMLSpy v2023 rel. 2 (x64) (http://www.altova.com) -->
<!ELEMENT cv (ident, formations, experiences)>
<!ATTLIST cv
	id CDATA #REQUIRED
>
<!ELEMENT age (#PCDATA)>
<!ELEMENT cvs (meilleurCV, aContacter, cv+)>
<!ATTLIST cvs
	versionFichier CDATA #FIXED "1.0"
>
<!ELEMENT fin (#PCDATA)>
<!ELEMENT nom (#PCDATA)>
<!ELEMENT tel EMPTY>
<!ELEMENT port (#PCDATA)>
<!ELEMENT debut (#PCDATA)>
<!ELEMENT ident (nom, prenom+, datenaiss, age, ((tel, adresse) | port), langues, permis)>
<!ELEMENT poste (#PCDATA)>
<!ELEMENT langue (#PCDATA)>
<!ATTLIST langue
	niveau (LU_ECRIT_PARLER | MATERNELLE) #REQUIRED
>
<!ELEMENT permis EMPTY>
<!ATTLIST permis
	type CDATA #FIXED "AB"
	vehicule CDATA #FIXED "true"
>
<!ELEMENT prenom (#PCDATA)>
<!ELEMENT statut (#PCDATA)>
<!ELEMENT adresse EMPTY>
<!ELEMENT langues (langue+)>
<!ELEMENT intitule (#PCDATA)>
<!ELEMENT datenaiss (#PCDATA)>
<!ELEMENT formation (debut, fin, intitule)>
<!ELEMENT intitules (poste, statut)>
<!ELEMENT aContacter EMPTY>
<!ATTLIST aContacter
	ids CDATA #FIXED "C2 C1"
>
<!ELEMENT experience (debut, fin?, intitules)>
<!ELEMENT formations (formation+)>
<!ELEMENT meilleurCV EMPTY>
<!ATTLIST meilleurCV
	id CDATA #FIXED "C2"
>
<!ELEMENT experiences (experience+)>
