genxsd.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!-- W3C Schema generated by XMLSpy v2023 rel. 2 (x64) (http://www.altova.com) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="aContacter">
		<xs:complexType>
			<xs:attribute name="ids" use="required" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="adresse">
		<xs:complexType>
		</xs:complexType>
	</xs:element>
	<xs:element name="age" type="xs:byte"/>
	<xs:element name="cv">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ident"/>
				<xs:element ref="formations"/>
				<xs:element ref="experiences"/>
			</xs:sequence>
			<xs:attribute name="id" use="required" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="cvs">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="meilleurCV"/>
				<xs:element ref="aContacter"/>
				<xs:element ref="cv" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="versionFichier" use="required" type="xs:decimal"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="datenaiss" type="xs:date"/>
	<xs:element name="debut" type="xs:short"/>
	<xs:element name="experience">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="debut"/>
				<xs:element ref="fin" minOccurs="0"/>
				<xs:element ref="intitule"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="experiences">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="experience" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="fin" type="xs:short"/>
	<xs:element name="formation">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="debut"/>
				<xs:element ref="fin"/>
				<xs:element ref="intitule"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="formations">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="formation" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ident">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="nom"/>
				<xs:element ref="prenom" maxOccurs="unbounded"/>
				<xs:element ref="datenaiss"/>
				<xs:element ref="age"/>
				<xs:choice>
					<xs:sequence>
						<xs:element ref="tel"/>
						<xs:element ref="adresse"/>
					</xs:sequence>
					<xs:element ref="port"/>
				</xs:choice>
				<xs:element ref="langues"/>
				<xs:element ref="permis"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="intitule">
		<xs:complexType mixed="true">
			<xs:sequence minOccurs="0">
				<xs:element ref="poste"/>
				<xs:element ref="statut"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="langue">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="niveau" use="required" type="xs:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="langues">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="langue" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="meilleurCV">
		<xs:complexType>
			<xs:attribute name="id" use="required" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="nom" type="xs:string"/>
	<xs:element name="permis">
		<xs:complexType>
			<xs:attribute name="type" use="required" type="xs:string"/>
			<xs:attribute name="vehicule" use="required" type="xs:boolean"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="port" type="xs:string"/>
	<xs:element name="poste" type="xs:string"/>
	<xs:element name="prenom" type="xs:string"/>
	<xs:element name="statut" type="xs:string"/>
	<xs:element name="tel">
		<xs:complexType>
		</xs:complexType>
	</xs:element>
</xs:schema>
