xsd_ns/gencv1.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!-- W3C Schema generated by XMLSpy v2023 rel. 2 (x64) (http://www.altova.com) -->
<xs:schema targetNamespace="urn:entreprise:information:identite" xmlns="urn:entreprise:information:identite" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ident="urn:entreprise:information:identite">
	<xs:element name="identite">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ident:nom"/>
				<xs:element ref="ident:prenom" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="nom" type="xs:string"/>
	<xs:element name="prenom" type="xs:string"/>
</xs:schema>
